<div
  id="videoCarousel"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="5000"
>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      *ngFor="let group of groupedVideos; let i = index"
      type="button"
      data-bs-target="#videoCarousel"
      [attr.data-bs-slide-to]="i"
      [class.active]="i === 0"
      [attr.aria-current]="i === 0 ? 'true' : null"
      [attr.aria-label]="'Slide ' + (i + 1)"
    ></button>
  </div>

  <!-- Slides -->
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let group of groupedVideos; let i = index"
      [class.active]="i === 0"
    >
      <div class="row g-3 justify-content-center">
        <div
          class="col-12 col-md-6"
          *ngFor="let video of group; let j = index"
        >
          <!-- Responsive YouTube embed -->
          <div class="video-wrapper">
            <iframe
              [id]="'youtube-' + (i*2 + j)"
              class="rounded shadow w-100"
              [src]="getSafeYoutubeUrl(video.youtubeUrl)"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <!-- Caption -->
          <!-- <div class="carousel-caption d-none d-md-block">
            <h6>{{ video.title }}</h6>
            <p class="small">{{ video.description }}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#videoCarousel"
    data-bs-slide="prev"
    (click)="pauseAllVideos()"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#videoCarousel"
    data-bs-slide="next"
    (click)="pauseAllVideos()"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
