<app-banner [banners]="viewModel.banners"></app-banner>
<div class="text-center mt-3 div1">
    <h1>Products</h1>
    <h4>Explore our wide range of products</h4>
    <div class="products-row">
        @for (product of dummuyProducts; track product) {
        <app-product class="product-item" [product]="product" (addToCart)="onAddToCart($event)"
            (view)="openProduct($event)" (wishlist)="toggleWishlist($event)"></app-product>
        }
    </div>
</div>
<div class="text-center mt-3 div2">
    <h1>New Arrivals</h1>
    <h4>Explore our wide range of New Arrivals</h4>
    <div class="products-row">
        @for (product of dummuyProducts; track product) {
        <app-product class="product-item" [product]="product" (addToCart)="onAddToCart($event)"
            (view)="openProduct($event)" (wishlist)="toggleWishlist($event)"></app-product>
        }
    </div>
</div>