@use "../../../../../../variable" as *;

.banner-carousel {
  max-width: 100%;
  margin: auto;
}

.carousel-item img {
  object-fit: cover;
  max-height: 400px;
  width: 100%;
}

.carousel-caption.ShortAdd {
  background-color: rgba(0, 0, 0, 0.5);
  padding: $spacing-md;
  border-radius: $border-radius-sm;
}

.carousel-caption.LongAdd {
  background-color: rgba(0, 0, 0, 0.7);
  padding: $spacing-lg;
  border-radius: $border-radius-sm;
}

.carousel-caption.Sales {
  background-color: rgba(255, 0, 0, 0.7);
  padding: $spacing-md;
  border-radius: $border-radius-sm;
  color: $color-text-on-primary;
}

.carousel-caption.Voucher {
  background-color: rgba(0, 128, 0, 0.7);
  padding: $spacing-md;
  border-radius: $border-radius-sm;
  color: $color-text-on-primary;
}

.carousel-caption.Slider {
  background-color: rgba(0, 0, 0, 0.3);
  padding: $spacing-md;
  border-radius: $border-radius-sm;
  color: $color-text-on-primary;
}
