<div class="layout">
  <header class="top-nav">
    <button class="menu-toggle" (click)="isSidebarOpen = !isSidebarOpen">&#9776;</button>
    <div class="logo">My App</div>
  </header>

  <aside class="side-nav" [class.open]="isSidebarOpen">
    <nav>
      <a routerLink="/auth/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/auth/website-resources" routerLinkActive="active">website-Resources</a>
      <a routerLink="/auth/contact" routerLinkActive="active">Contact</a>
      <a routerLink="/auth/category-list" routerLinkActive="active">Category List</a>
    </nav>
  </aside>


<main class="main-content" (click)="isSidebarOpen = false">
    <router-outlet></router-outlet>
  </main>
</div>
