@use "variable" as *;

/* ---------------- Base Reset ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  height: 100%;
  margin: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; // takes remaining space
}
