@use "variable" as *;

/* ---------------- Base Reset ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Montserrat, sans-serif";
  background: white;
  color: black;
  height: 100%;
  margin: 0;
  overflow-x: hidden !important;
}
a,
i {
  cursor: pointer;
  text-decoration: none;
}
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; // takes remaining space
}
.btn-primary {
  background-color: #f9aa3c !important;
  border: none;
  color: rgb(255, 255, 255);
}
